<div class="poker-content">
<mat-grid-list cols="3" rowHeight="88%">
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <mat-card>
      <mat-card-title>{{pokerLabel}}</mat-card-title>
      <mat-card-subtitle>{{pokerDescription}}</mat-card-subtitle>
      <mat-card-content>
        <mat-list dense>
          <!-- Anzeige der planning Poker runden (tabelle)-->
          <div *ngFor="let roundData of pokerData; let i = index;">
            <h3 mat-subheader>Round {{i}}</h3>
            <mat-list-item *ngFor="let user of roundData.users; let j = index;">{{user}}<span class="spacer"></span>{{roundData.hours[j]}}h</mat-list-item>
            <mat-divider></mat-divider>
          </div>
          <h3 *ngIf="isRoundEnd">Planning Poker has ended!</h3>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="Primary"*ngIf="authService.isScrumMaster">Start a new Planning Poker round</button>
        <button mat-raised-button color="Warn" *ngIf="authService.isScrumMaster">End Round</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <!-- Chat -->
  <mat-grid-tile [colspan]="1" [rowspan]="1" >
    <mat-card>
      <mat-card-title>Chat</mat-card-title>
      <mat-card-content>BLABLA BLA CHAT CON TsENT</mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
</div>
