.poker {
  float: left;
  margin-left: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
  margin-top: 2.5%;
  width: 48%;
}
.chat {
  float: left;
  margin: 1%;
  width: 48%;
}
.bottom {
  float: left;
  margin: 1%;
}

.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
