<mat-toolbar color="primary">

  <span>
    <img src="assets/img/logo.jpg" class="angular-logo" routerLink="/home">
  </span>
    <div *ngIf="isLoggedIn">
      <button mat-button routerLink="backlog"><mat-icon>assessment</mat-icon>Product Backlog</button>
      <button mat-button routerLink="sprint">Sprint Planning</button>
      <button mat-button routerLink="scrumboard">Scrum Board</button>
      <button mat-button routerLink="planningpoker" *ngIf="!authService.isProductOwner">Planning Poker</button>
      <button mat-button routerLink="chart">Burn-Down-Chart</button>
      <button mat-button routerLink="roadmap">Roadmap</button>
    </div>


  <span class="fill-remaining-space"></span>

  <div *ngIf="isLoggedIn">
    <span>Hello {{this.username}}!</span>
  </div>

  <button mat-button [matMenuTriggerFor]="appMenu"><mat-icon>more_vert</mat-icon></button>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item routerLink="login" *ngIf="!isLoggedIn"><mat-icon>account_box</mat-icon>Login</button>
    <button mat-menu-item routerLink="adduser" *ngIf="isScrumMaster"><mat-icon>assignment-ind</mat-icon>Add User</button>
    <button mat-menu-item (click)="onLogout()" *ngIf="isLoggedIn"><mat-icon>close</mat-icon>Logout</button>
  </mat-menu>

</mat-toolbar>
