<div class="left-side">
  <mat-card>
    <table>
      <tbody>
      <tr>
        <td style="font-weight: bold">ID: </td>
        <td>{{task?.id}}</td>
      </tr>
      <tr>
        <td style="font-weight: bold">Name: </td>
        <td>{{task?.name}}</td>
      </tr>
      <tr>
        <td style="font-weight: bold">Description: </td>
        <td>{{task?.description}}</td>
      </tr>
      <tr>
        <td style="font-weight: bold">Priority: </td>
        <td>{{task?.priority}}</td>
      </tr>
      <tr>
        <td style="font-weight: bold">Worked: </td>
        <td>{{tempWorkedTime}}
          <mat-slider min="0" max="{{task?.workload}}" step="1" value="{{tempWorkedTime}}" [(ngModel)]="tempWorkedTime"></mat-slider>
          <button mat-raised-button color="primary" (click)="save()">Save</button>
        </td>
      </tr>
      <tr>
        <td style="font-weight: bold">Workload: </td>
        <td>{{task?.workload}}</td>
      </tr>
      <tr>
        <td style="font-weight: bold">Progress: </td>
        <td>{{progress | number:0}}%</td>
      </tr>
      <tr>
        <td style="font-weight: bold">Assigned story: </td>
        <td><button mat-raised-button color="accent" [routerLink]="['../../../stories/details', story?.id]">{{story?.name}}</button></td>
      </tr>
      <tr>
        <td style="font-weight: bold">Assigned sprint: </td>
        <td><button mat-raised-button color="accent" [routerLink]="['../../../sprint/details', sprint?.id]">{{sprint?.name}}</button></td>
      </tr>
      <tr>
        <td style="font-weight: bold">Person in charge: </td>
        <td>{{user?.firstname}} {{user?.lastname}}</td>
      </tr>
      <br>
      <br>
      <tr><td><button mat-raised-button color="warn" (click)="deleteDialog()">Delete</button></td></tr>
    </table>
  </mat-card>
</div>
