.example-container {
  display: flex;
  flex-direction: column;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

#table {
  margin: 1%;
  max-height: 1000px;
}

#create {
  margin-left: 1%
}

.mat-table[_ngcontent-c6] {
  max-height: 1000px;
}
