<div class="left-side">
  <table>
    <tbody>
      <tr>
        <td style="font-weight: bold">Name: </td>
        <td>{{sprint.name}}</td>
      </tr>
    <tr>
      <td style="font-weight: bold">ID: </td>
      <td>{{sprint.id}}</td>
    </tr>
    <tr>
      <td style="font-weight: bold">Description: </td>
      <td>{{sprint.description}}</td>
    </tr>
    <tr>
      <td style="font-weight: bold">Start date: </td>
      <td>{{sprint.startDate.toLocaleDateString()}}</td>
    </tr>
    <tr>
      <td style="font-weight: bold">End date: </td>
      <td>{{sprint.endDate.toLocaleDateString()}}</td>
    </tr>
    <tr>
      <td style="font-weight: bold">Available time: </td>
      <td>{{sprint.availableTime}}</td>
    </tr>
    <tr><td style="font-weight: bold">Tasks: </td></tr>
    <tr *ngFor="let task of assignedTasks">
      <td><button mat-raised-button color="warn">{{task.name}}</button></td>
    </tr>
    </tbody>
  </table>
</div>
  <!--
  <mat-list role="list">
    <mat-list-item role="listitem">Name: {{sprint.name}}</mat-list-item>
    <mat-list-item role="listitem">Sprint-id: {{sprint.id}}</mat-list-item>
    <mat-list-item role="listitem">Beschreibung: {{sprint.description}}</mat-list-item>
    <mat-list-item role="listitem">Startdatum: {{sprint.startDate}}</mat-list-item>
    <mat-list-item role="listitem">Enddatum: {{sprint.endDate}}</mat-list-item>
    <mat-list-item role="listitem">Verfügbare Zeit: {{sprint.availableTime}}</mat-list-item>
    <mat-list-item role="listitem" *ngFor="let task of sprint.tasks">{{task.name}}</mat-list-item>
  </mat-list>
  -->

<div class="right-side">
  <div class="sprint-table mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="Id">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let task"> {{task.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let task"> {{task.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="EstTime">
        <mat-header-cell *matHeaderCellDef> Workload </mat-header-cell>
        <mat-cell *matCellDef="let task"> {{task.workload}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Add">
        <mat-header-cell *matHeaderCellDef> Add</mat-header-cell>
        <mat-cell *matCellDef="let task"><mat-checkbox color="warn" (click)="check()">Add</mat-checkbox></mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
