<table class="besides" *ngFor="let sprint of sprints">
  <thead>
    <button mat-raised-button color="primary">{{sprint.name}}</button>
  </thead>
  <tbody>
    <tr>{{sprint.startDate.toLocaleDateString()}} -</tr>
    <tr>{{sprint.endDate.toLocaleDateString()}}</tr>
    <!-- TODO Platzhalter. Progress muss später über alle zugewiesenen Tasks berechnet werden -->
    <tr>Progress</tr>
  </tbody>
</table>


<!--
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="Id">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let task"> {{sprint.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let task"> {{task.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Priority">
      <mat-header-cell *matHeaderCellDef> Priority </mat-header-cell>
      <mat-cell *matCellDef="let task"> {{task.priority}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Estimated">
      <mat-header-cell *matHeaderCellDef> Estimation </mat-header-cell>
      <mat-cell *matCellDef="let task"> {{task.estimatedTime}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Worked">
      <mat-header-cell *matHeaderCellDef> Worked </mat-header-cell>
      <mat-cell *matCellDef="let task"> {{task.workedTime}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<br>
<button mat-raised-button color="primary" routerLink="/backlog/create">New Item</button>
-->
