<div class="left-side">
  <table>
    <tbody>
    <tr>
      <td style="font-weight: bold">ID: </td>
      <td>{{story.id}}</td>
    </tr>
    <tr>
      <td style="font-weight: bold">Name: </td>
      <td>{{story.name}}</td>
    </tr>
    <tr>
      <td style="font-weight: bold">Description: </td>
      <td>{{story.description}}</td>
    </tr>
    <tr>
      <td style="font-weight: bold">Priority: </td>
      <td>{{story.priority}}</td>
    </tr>
    <tr>
      <td style="font-weight: bold">Assigned epic: </td>
      <td><button mat-raised-button color="warn" [routerLink]="['../../../epics/details', epic.id]">{{epic.name}}</button></td>
    </tr>
  </table>
</div>
