<div>
  <div class="first-column">
    <table>
      <thead>
        <tr>
          <td><button mat-raised-button color="primary">UserStory</button></td>
          <td><button mat-raised-button color="primary">ToDo</button></td>
          <td><button mat-raised-button color="primary">In Progress</button></td>
          <td><button mat-raised-button color="primary">Done</button></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let story of stories">
          <td><button mat-raised-button color="primary">{{story.name}}</button></td>
          <td>
            <table>
              <tr *ngFor="let task of tasks" [dragula]="toDo">
                <!-- TODO: Weitere Bedingung -> Bearbeitung = 0%; -->
                <td *ngIf="task.storyId === story.id">
                  <button mat-raised-button color="warn">{{task.name}}</button>
                </td>
              </tr>
            </table>
          </td>
          <td>
            <table>
              <tr *ngFor="let task of tasks" [dragula]="inProgress">
                <!-- TODO: Weitere Bedingung -> Bearbeitung = 1-99%; -->
                <td *ngIf="task.storyId === story.id">
                  <button mat-raised-button color="warn">{{task.name}}</button>
                </td>
              </tr>
            </table>
          </td>
          <td>
            <table>
              <tr *ngFor="let task of tasks" [dragula]="done">
                <!--TODO: Weitere Bedingung -> Bearbeitung = 0%; -->
                <td *ngIf="task.storyId === story.id">
                  <button mat-raised-button color="warn">{{task.name}}</button>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
