.first-column {
  float: left;
}

.second-column {
  float: left;
  width: 24%;
  margin-right: 1%;
  text-align: center;
}
.third-column {
  float: left;
  width: 24%;
  margin-right: 1%;
  text-align: center;
}

.fourth-column {
  float: left;
  width: 24%;
  margin-right: 1%;
  text-align: center;
}

tr,td,th,table {
  text-align: center;
}

.border {
  border:1pt solid black;
}

.margin {
  margin: 1%;
}
