mat-card {
  max-width: 1000px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  margin: 1%;
}

.chart-content {
  padding: 10px 1rem;
}
.full-width-input {
  width: 100%;
}

.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
