<header>
  <mat-toolbar role="header" color="primary">
    <mat-toolbar-row>
    <span><h2 mat-element routerLink="home">MFJ-Scrum</h2></span>
    <span>
      <div class="box">
        <button mat-button routerLink="backlog" ><mat-icon>assessment</mat-icon>Product Backlog</button>
        <button mat-button routerLink="sprint" >Sprint Planning</button>
        <button mat-button routerLink="scrumboard" >Scrum Board</button>
        <button mat-button routerLink="planningpoker" >Planning Poker</button>
        <button mat-button routerLink="chart" >Burn-Down-Chart</button>
        <button mat-button routerLink="roadmap" >Roadmap</button>
      </div>
    </span>
    <span class="fill-remaining-space"></span>
    <span>
      <div class="box">
        Hello Username_here
        <button mat-button [matMenuTriggerFor]="appMenu"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item routerLink="login"><mat-icon>account_box</mat-icon>Login</button>
          <button mat-menu-item routerLink="register"><mat-icon>assignment-ind</mat-icon>Register</button>
          <button mat-menu-item (click)="logout()"><mat-icon>close</mat-icon>Logout</button>
        </mat-menu>
      </div>
    </span>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
 <body>
   <main>
     <router-outlet></router-outlet>
   </main>
 </body>

