<p>Task</p>
<table>
  <thead>
    <td>id</td>
    <td>name</td>
    <td>description</td>
    <td>prio</td>
    <td>storyId</td>
    <td>sprintId</td>
    <td>userId</td>
  </thead>
  <tr *ngFor="let task of tasks">
    <td>{{task?.id}}</td>
    <td>{{task?.name}}</td>
    <td>{{task?.description}}</td>
    <td>{{task?.priority}}</td>
    <td>{{task?.storyId}}</td>
    <td>{{task?.sprintId}}</td>
    <td>{{task?.userId}}</td>
  </tr>
  <tr></tr>
  <tr>
    <td>{{taskById?.id}}</td>
    <td>{{taskById?.name}}</td>
    <td>{{taskById?.description}}</td>
    <td>{{taskById?.priority}}</td>
    <td>{{taskById?.storyId}}</td>
    <td>{{taskById?.sprintId}}</td>
    <td>{{taskById?.userId}}</td>
  </tr>
</table>
<br>
<p>Story</p>
<table>
  <thead>
    <td>id</td>
    <td>name</td>
    <td>description</td>
    <td>prio</td>
    <td>epicId</td>
  </thead>
  <tr *ngFor="let story of stories">
    <td>{{story?.id}}</td>
    <td>{{story?.name}}</td>
    <td>{{story?.description}}</td>
    <td>{{story?.priority}}</td>
    <td>{{story?.epicId}}</td>
  </tr>
  <tr></tr>
  <tr>
    <td>{{storyById?.id}}</td>
    <td>{{storyById?.name}}</td>
    <td>{{storyById?.description}}</td>
    <td>{{storyById?.priority}}</td>
    <td>{{storyById?.epicId}}</td>
  </tr>
</table>
<br>
<p>Epic</p>
<table>
  <thead>
  <td>id</td>
  <td>name</td>
  <td>description</td>
  <td>prio</td>
  </thead>
  <tr *ngFor="let epic of epics">
    <td>{{epic?.id}}</td>
    <td>{{epic?.name}}</td>
    <td>{{epic?.description}}</td>
    <td>{{epic?.priority}}</td>
  </tr>
  <tr></tr>
  <tr>
    <td>{{epicById?.id}}</td>
    <td>{{epicById?.name}}</td>
    <td>{{epicById?.description}}</td>
    <td>{{epicById?.priority}}</td>
    <td>{{epicById?.epicId}}</td>
  </tr>
</table>
<br>
<table>
  <tr>
    <td>{{taskTest?.name}}</td>
    <td>{{storyTest?.name}}</td>
    <td>{{epicTest?.name}}</td>
  </tr>
</table>
<br>
<table>
  <tr *ngFor="let story of storyByEpicId">
    <td>{{story?.id}}</td>
    <td>{{story?.name}}</td>
    <td>{{story?.description}}</td>
    <td>{{story?.priority}}</td>
    <td>{{story?.epicId}}</td>
  </tr>
</table>
<br>
<table>
  <tr *ngFor="let sprint of sprints">
    <td>{{sprint?.id}}</td>
    <td>{{sprint?.name}}</td>
    <td>{{sprint?.description}}</td>
  </tr>
</table>

