mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}
.register-content {
  padding: 60px 1rem;
}
.full-width-input {
  width: 100%;
}

.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
